<link href="/css/marketer.css" rel="stylesheet" type="text/css">

<form>
  <label>Add New Branch</label>
  <input type="text" name="Latitude" placeholder="Enter latitude">
  <input type="text" name="Longitude" placeholder="Enter longitude">
  <button type="submit">Submit</button>
</form>
<div class="marketer-div">This is for marketer.</div>