<link href="/css/marketer.css" rel="stylesheet" type="text/css">

<form action="/addBranch" method="POST">
  <label>Add New Branch</label>
  <input type="text" name="latitude" placeholder="Enter latitude">
  <input type="text" name="longitude" placeholder="Enter longitude">
  <button type="submit">Submit</button>
</form>

<% for(const id in branchDatabase) {%>
  <div class="marketer-div"><%= branchDatabase[id]["latitude"] %> 
    <br>
    <%= branchDatabase[id]["longitude"] %>
  </div>
  <% } %>
<div class="marketer-div">This is for marketer.</div>