.marketer-div {
  height: auto;
  width: auto;
  background-color: red;
  color: yellow;
}

#latitude1 {
  width: 100%;
  height: 80px;
  border: blue solid 2px;
}

#longitude1 {
  width: 100%;
  height: 80px;
  border: blue solid 2px;